@page "/"
@namespace SchoolManagement.Blazor.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>School Management</title>
    <base href="/" />
    <link href="css/app.css" rel="stylesheet" />
</head>

<body>
    <app>
        Chargement...
    </app>
    <script src="_framework/blazor.server.js"></script>
</body>

</html>
